<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.mihx.app"
    android:versionCode="5"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name="es.mihx.app.HuaxinApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.mihx.app.activity.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.mihx.app.activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="es.mihx.app.activity.ListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="es.mihx.app.activity.DetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="es.mihx.app.activity.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="es.mihx.app.activity.RegisterActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="es.mihx.app.activity.FormActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="es.mihx.app.activity.PurchaseActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="es.mihx.app.service.WebService"
            android:enabled="true" />
    </application>

</manifest>